@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css (used with NativeWind) */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-cols-2 > * {
  width: 48%;
}
